@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'poppins-medium';
    src: url('/assets/fonts/Poppins-Medium.ttf');
  }
}

* {
  font-family: 'Poppins';
  line-height: 28.111px;
  letter-spacing: -0.337px;
}

h1 {
  font-family: 'poppins-medium';
}

h2 {
  font-family: 'poppins-medium';
}

h3 {
  font-family: 'poppins-medium';
}

h4 {
  font-family: 'poppins-medium';
}

p {
  font-family: 'poppins';
}

@media (min-width: 320px) {
  h1 {
    font-size: 15pt;
    line-height: 25px;
  }
  h2 {
    font-size: 12pt;
  }
  h3 {
    font-size: 12pt;
  }
  h4 {
    font-size: 10pt;
  }
  p {
    font-size: 10pt;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 30pt;
    line-height: 50px;
  }
  h2 {
    font-size: 20pt;
  }
  h3 {
    font-size: 15pt;
  }
  h4 {
    font-size: 11pt;
  }
  p {
    font-size: 11pt;
    line-height: 18px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 30pt;
    line-height: 50px;
  }
  h2 {
    font-size: 20pt;
  }
  h3 {
    font-size: 15pt;
  }
  h4 {
    font-size: 11pt;
  }
  p {
    font-size: 11pt;
    line-height: 18px;
  }
}

.marqueeStyle {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 10s linear infinite;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.skeleton {
  background: #353e4e;
  background: linear-gradient(110deg, #dfdfdf 8%, #353e4e 18%, #dfdfdf 33%);
  background-size: 200% 100%;
}

.shiny {
  animation: 1.5s shine linear infinite;
  background-size: 200% 100%;
}

.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
