@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: 'poppins-medium';
    src: url('/assets/fonts/Poppins-Medium.ttf');
  }
}

* {
  font-family: 'Poppins';
  line-height: 28.111px;
  letter-spacing: -0.337px;
}

h1 {
  font-family: 'poppins-medium';
  font-size: 30pt;
  line-height: 50px;
}

h2 {
  font-family: 'poppins-medium';
  font-size: 28pt;
}

h3 {
  font-family: 'poppins-medium';
  font-size: 12pt;
}

p {
  font-family: 'poppins';
  font-size: 16pt;
}
